@{ 
    ViewData["Title"] = "Home Page"; 
}


<div class="main">
    <div style="text-align:center">
        <a class="btn btn-secondary" asp-controller="Home" asp-action="ShowAll" style="margin:10px">Показать все страны</a>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="SearchPanel" style="margin:10px">Поиск по названию</a>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="SearchPanelAPI" style="margin:10px">Поиск по API ссылке</a>
    </div>
</div>
